.button {
    background: var(--plate1);
    border-radius: 8px;
    padding: 20px;

    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    span {
        font-size: 18px;
    }

    img {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
}